* {
    color: #fff;
    text-decoration: none;
    font-family: GilroyExtraBold;
}

@font-face {
    font-family: GilroyExtraBold;
    src: url('../assets/Gilroy-ExtraBold.otf');
}
@font-face {
    font-family: GilroyLight;
    src: url('../assets/Gilroy-Light.otf');
}

.brewthers-dark-bg {
    background-color: #1f2120;
}

q-toolbar a {
    text-decoration: none !important;
}

.nav-logo:hover {
    cursor: pointer;
}

.brewthers-nav {
    font-family: GilroyExtraBold !important;
}

.q-tab__indicator {
    background-color: #27a3c3 !important;
}

.pattern-bg {
    background-image: url('../assets/pattern.png');
    height: 910px;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-stripes {
    width: 20px;
    height: 930px;
    background-color: #27a3c3;
    position: absolute;
    bottom: 0;
}

.carousel-img {
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.carousel-img:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

.us-bg {
    background-image: url('../assets/us-bg.jpg');
    background-position: center center;
    height: 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title-section {
    font-family: GilroyExtraBold;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

.title-section-link {
    font-family: GilroyExtraBold;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.title-section-link:hover {
    color: #27a3c3;
}

.us-content {
    text-align: center;
    font-family: GilroyLight;
}

.us-content p {
    width: 100%;
    font-size: 20px;
}

.us-partner-tile {
    text-align: center;
    font-family: GilroyExtraBold;
    font-size: 25px;
}

.blog-bg {
    background-image: url('../assets/blog-bg.jpg');
    background-position: center;
    height: 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.tiendita-bg {
    background-image: url('../assets/tiendita-bg.jpg');
    background-position: center;
    height: 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.movingbeer-bg {
    background-image: url('../assets/movingbeer-bg.jpg');
    background-position: center;
    height: 1080px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.faq-section {
    padding: 20px 10%;
    font-family: GilroyExtraBold;
}

.faq-section h5 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.faq-section h5:hover {
    cursor: pointer;
    color: #27a3c3;
}

.faq-section p {
    font-family: GilroyLight;
    font-size: 1.15rem;
}

.faq-section div {
    margin-bottom: 25px;
}

.contact-form {
    padding: 20px 10%;
}

@media only screen and (max-width: 600px) {
    .us-bg,
    .blog-bg,
    .movingbeer-bg {
        height: 650px;
    }
    footer {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .pattern-bg {
        height: auto;
        background-repeat: repeat-y;
        background-position: top;
    }
}

.mobile-menu-overlay a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: GilroyExtraBold;
}

.mobile-menu-overlay a:hover {
    color: #27a3c3;
}

.mobile-menu-overlay ul {
    list-style-type: none;
    text-align: right;
    font-size: 30px;
    margin-top: 0;
}

.mobile-menu-overlay li {
    margin-bottom: 10px;
}

footer {
    background-color: #111;
    font-family: GilroyLight;
    font-size: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

footer ul {
    padding: 0;
}

footer li {
    list-style-type: none;
    text-transform: capitalize;
    margin-bottom: 5px;
}

footer a,
footer span {
    font-family: GilroyLight;
}

footer a:hover,
i:hover {
    color: #27a3c3;
}

footer p {
    margin-bottom: 5px;
    font-family: GilroyLight;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #111;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #27a3c3;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #27a3c3;
}
